---

import Layout from '../GM-Geeks-page/layouts/Layout.astro';
---
<Layout tittle="About Us">
<h1>About Us</h1>
<p>Welcome to GM Geeks! We are passionate about software development and technology. 
    Our mission is to provide high-quality software solutions to our clients.</p>

</Layout>
